# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Runtime data
pids/
*.pid
*.seed

# Build output
dist/
build/

# OS-specific
.DS_Store
Thumbs.db

# Editor folders
.vscode/
.idea/
*.swp